/* IMPOSTAZIONI GENERALI */
body {
  margin: 0 auto;
  background-image: url(../img/sfondo.png);
  background-size: 140%;
  background-repeat: repeat-y;
  background-position: left;
}
.container {
  font-family: "Poppins", sans-serif;
  margin: 25px;
}
/* HEADER */
header {
  background-image: linear-gradient(#0099c2, #043947);
  text-align: center;
  box-shadow: 2px 5px 5px rgba(53, 55, 58, 0.781);
}
header img {
  width: 68%;
  margin-top: 40px;
}

header h2,
header p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: rgb(236, 236, 236);
}

header h2 {
  margin: 30px 0 25px 0;
}

header p {
  line-height: 1.5em;
}
header p:last-child {
  padding-bottom: 30px;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

article h1 {
  color: black;
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}

.container-article {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  box-shadow: 1px 3px 4px rgba(53, 55, 58, 0.781);
}

.subtitle-gray {
  margin-top: 20px;
  color: gray;
  text-transform: none;
  margin-bottom: 20px;
  line-height: 20px;
}

.article-p {
  text-align: left;
  line-height: 20px;
  margin-top: 20px;
}

.article-p span {
  font-weight: bold;
}

.article-p p {
  margin-bottom: 20px;
  margin-top: 20px;
}

.div-list {
  margin-left: 30px;
}

.div-list ul {
  list-style: disc;
}

.div-list li {
  line-height: 30px;
}

.div-list span {
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid darkgray;
  font-weight: 400;
}

.div-list ol {
  list-style: decimal;
}

.tool {
  text-align: left;
}
.tool p {
  padding-top: 20px;
}

iframe {
  border-radius: 20px;
}

/* TABELLE */

table caption {
  font-weight: bold;
  font-style: italic;
}
thead {
  background-color: rgb(65, 65, 193);
}

thead th {
  border-right: 1px solid white;
  padding: 15px 15px;
}

tbody td {
  padding: 10px;
  border-top: 1px solid darkgray;
}

tbody .gray {
  background-color: lightgray;
}

#table hr {
  border: 1.5px solid blue;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  background-image: linear-gradient(#0099c2, #043947);
  text-align: center;
  box-shadow: 2px 5px 5px rgba(53, 55, 58, 0.781);
}

/* icone 

icona matita -> <i class="fas fa-pen-square"></i> icona orologio -> <i class="fas fa-clock"></i> 
icona tag -> <i class="fas fa-tag"></i> 
icona calendario -> <i class="fas fa-calendar-alt"></i>*/
