/* IMPOSTAZIONI GENERALI */
body {
  max-width: 500px;
  text-align: center;
  margin: 30px;
}
/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
